*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.flex-container {
  display: flex;
  width: 300px;

  height: 300px;
  background-color: #843535;

  margin: 100px auto;
  align-items: center;
  justify-content: center;

  border: 2px solid #ccc;

  /* if display with flex direction column-reverse , align items and justify content shall work inversely */

  flex-direction: column-reverse; /* row | row-reverse | column | column-reverse; */

  

  /* justify-content: flex-start | flex-end | center | space-between | space-evenly | space-around; */
  /* align-items: flex-start | flex-end | center | stretch; */

}


.flex-container .flex-item {
  width: 50px;
  height: 50px;
  background-color: #4CAF50;

  margin: 10px;
  align-items: center;
  justify-content: center;
}

.flex-container .box1{
  background-color: #ff5722;
  justify-content: center;
  align-items: center;
  display: flex;

}



 .box2{
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  display: flex;
}
.flex-container .box3{
  background-color: #4CAF50;
  justify-content: center;
  align-items: center;
  display: flex;
}
.flex-container .box4{
  background-color: #000000;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  display: flex;
}
